@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-text: #e8e8e8;
    --main-bg: linear-gradient(180deg, #142131 0%, #000113 100%);
    --fallback-bg: #0f0f0f;
    --elipse-primary: rgb(243, 114, 97);
    --elipse-secondary: #842CF2;
    --golden-color: #ffb829;
    --title-color: #cd8902;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




html {
    font-size: 62.5%;
    scroll-behavior: smooth;


}

body {
    background: var(--main-bg);
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
    position: relative;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 539px;
        height: 648px;
        top: -50rem;
        left: -11rem;
        background: radial-gradient(circle, rgba(243, 114, 97, 0.7) 12%, rgba(0, 0, 0, 0.9) 108%);
        filter: blur(50px);
        border-radius: 0 0 100% 0;
        z-index: -1;

    }

    &::after {
        width: 100%;
        content: "";
        position: absolute;
        max-width: 100vw;
        height: 46rem;
        top: 78rem;
        left: 3rem;
        background: radial-gradient(circle, #6120b7 18%, rgba(0, 0, 0, 1.9) 179%);
        filter: blur(50px);
        border-radius: 0 0 163% 0;
        z-index: -1;
        overflow: hidden;
    }
}


li{
    list-style: none;
}

.link {
    font-weight: 600;
    color: var(--color-text);
    text-decoration: none;
}


.link[aria-current='page'] {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    text-decoration-color: var(--golden-color);
}

a {
    color: var(--color-text);
    text-decoration: none;
}